<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment value="business" scrollable (ionChange)="cambioCategoria($event)">
    <ion-segment-button [value]="categoria" *ngFor="let categoria of categorias" color="primary">
      <ion-label>{{categoria}}</ion-label>
    </ion-segment-button>
    
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  
<app-noticias [noticias]="noticias"></app-noticias>
  
</ion-content>
